<% layout("layouts/boilerplate.ejs") %>
  <div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-6 offset-3">
      <form action="/campgrounds" method="POST" class="needs-validation" enctype="multipart/form-data" novalidate>
        <div class="mt-2">
          <label for="title" class="form-label">Title</label>
          <input type="text" placeholder="title" id="title" name="campground[title]" class="form-control" required />
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="mt-2">
          <label for="location" class="form-label">Location</label>
          <input type="text" placeholder="location" id="location" name="campground[location]" class="form-control"
            required />
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="mt-2">
          <label for="price" class="form-label">Price</label>
          <div class="input-group mb-3">
            <span class="input-group-text" id="price-rate">$</span>
            <input id="price" type="text" class="form-control" name="campground[price]" placeholder="0.00"
              aria-label="price" aria-describedby="price-rate" required />
          </div>
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="mt-2">
          <label for="description" class="form-label">Description</label>
          <textarea placeholder="description" id="description" name="campground[description]" class="form-control"
            required></textarea>
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="mt-2">
          <label for="img" class="form-label">Upload Images</label>
          <input type="file" id="img" name="image" class="form-control" required multiple>
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="my-3">
          <button type="submit" class="btn btn-primary">Add Campground</button>
          <button type="reset" class="btn btn-dark">Reset</button>
        </div>
      </form>
    </div>
  </div>